body {
  font-family: Arial, sans-serif;
  line-height: 1.4em;
  margin: 0px;
  background: #fbfffb;
}

.event-item {
  margin: 15px;
  padding: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.10);
}
